// Fonts
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&display=swap');

// Override Bootstrap variables
$font-family-base: "Electrolize", sans-serif;

$primary: #006be6;

// BACKGROUND
$body-bg: #f1f1f1;
//8cb3ef
@keyframes gradientShift {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}

/*
Light mode styles
*/
[data-bs-theme="light"] body {
  //background: linear-gradient(270deg, #f1f1f1, #b6ccf6, #f1f1f1);
  background-size: 300% 300%;
  animation: gradientShift 20s ease infinite;
}

 /*
 Dark mode styles
 */
[data-bs-theme="dark"] body {
  background: linear-gradient(270deg, #000000, rgb(0, 4, 21), #000000);
  background-size: 300% 300%;
  animation: gradientShift 10s ease infinite;
}
// BACKGROUND END

.btn-primary {
  &:hover {
    --bs-btn-bg: darken($primary, 95%);
    --bs-btn-border-color: darken($primary, 95%);
  }
}


[data-bs-theme="dark"] {
  .navbar {
    .nav-link {
      color: rgba(12, 12, 12, 0.77);

      &:hover
      {
        color: #000000 ;
      }
    }
  }
}
// NAVBAR

$navbar-brand-font-size: 1.5rem;
.navbar .nav-link {
  font-weight: bold !important;
}

$navbar-light-active-color: #006be6;
$navbar-dark-active-color: #006be6;

// NAVBAR END
//$color:#cfe2ff;


// CARD
$card-border-color: #105da8;
$card-border-radius: 10px; // Rounded corners
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

[data-bs-theme="dark"] .card {
  background-color: #0c1b39 !important;
}
// CARD END

// TABLE
$table-hover-bg: rgba(125, 188, 255, 0.33);
$table-border-width: 2px;
$table-border-factor: 0.5;

[data-bs-theme="dark"] {
  .table-bordered {
    border-color: #555555 !important;
  }
}

// TABLE END

// CAROUSEL
.carousel-caption {
  font-size: 1rem;
  font-weight: bold;
  h5 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

#stocksCarousel {
  max-width: 1400px;
  margin: 0 auto;     // Centering

  .carousel-item img {
    width: 100%;
    max-height: 600px;
    object-fit: cover; // Crop nicely
  }
}

$carousel-transition-duration: 1s;
//$carousel-dark-caption-color: #fb2828;
$carousel-caption-color: #000000;

.carousel-caption .text-background {
  background-color: rgba(207, 226, 255, 0.6);
  padding: 0.3rem;
}
// CAROUSEL END

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import Bootstrap Icons
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
