<ngb-carousel [showNavigationIndicators]="true" [wrap]="true">
    @for (image of images(); track $index) {
      <ng-template ngbSlide>
        <img [src]="image.src" class="d-block w-100" [alt]="image.alt" [width]="image.width" [height]="image.height">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-background">
            <h5>{{ image.title }}</h5>
            <p>{{ image.caption }}</p>
          </div>
        </div>
      </ng-template>
    }
</ngb-carousel>
