<nav class="navbar navbar-expand-lg bg-warning shadow">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" [routerLink]="'/'">
      <img ngSrc="/images/favicon.ico" alt="Stock.image" width="30" height="30" class="me-3">
      <strong>{{ brand }}</strong>
    </a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto">
        @for (menuItem of menuItems; track $index) {
          <li class="nav-item">
            <a class="nav-link"
               aria-current="page"
               [routerLinkActive]="'active'"
               [routerLink]="menuItem.routerLink">
              {{ menuItem.label }}
            </a>
          </li>
        }
      </ul>

      @if (user(); as user) {
        <div ngbDropdown [title]="user.name">
          <button class="e-user" type="button" ngbDropdownToggle>
            {{ user.name}}
          </button>

          <div ngbDropdownMenu>
            <button type="button" class="dropdown-item disabled" aria-disabled="true">{{ user.name }}</button>
            <button type="button" class="dropdown-item" (click)="logout()">Logout</button>
          </div>


        </div>
      } @else {
        <button class="e-user" type="button" (click)="login()">
          Login
        </button>
      }

      <div class="d-flex ms-auto">
        <button (click)="themeService.toggle()"
                class="btn btn-primary btn-outline-dark"
                aria-label="Toggle dark/light mode">
          @if (themeService.theme() === 'dark') {
            🌞 Light
          } @else {
            🌙 Dark
          }
        </button>
      </div>

    </div>
  </div>
</nav>
